body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Todo-App {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.error {
  color: red;
}